/* Import Google Fonts API */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* Apply color scheme and typography */
body {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #f2f2f2;
  color: #e9e9e9;
  
}

h3, h2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}


a {
  color: #0066cc;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

a:hover {
  text-decoration: underline;
}

/* Center the header contents */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: navy;
  padding: 2rem;
  grid-column: 1 / 3;
}

img {
  height: 100px;
  width: 97px;
  border-radius: 10%;
  margin: 10px;
  padding: 5px;

}


nav {
  grid-column: 1/3;
  background-color: black;
  padding: 1.8rem;
}

nav {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-bottom: 1rem;
  text-align: center;
}

nav a:hover {
  text-decoration: underline;
}

main {
  height: 330px;
  padding: 1rem;
  color:black
}

h3 {
    background-color: navy;
    color:white;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.card h3 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

footer {
  background: black;
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 3;
  color: white;
}